<div class="log_info">
    Signed in as <a href="#">Member</a><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a
        href="#">Sign out</a>
</div>

<div class="titile_area">
    <span class="big_titile">cruise</span>
    <ul class="nav">
        <li>dashboard</li>
        <li>my cruise</li>
        <li class="active">agents</li>
        <li>help</li>
    </ul>
</div>
<div class="content">
 <div class="current_selected">
     <span class="select_name">Agents</span>

     <div class="categorys">
         <div>all</div>
         <div class="active">physical</div>
         <div>virtual</div>
     </div>
 </div>
<div class="item-detail">
    <div class="item_list">

    </div>
    <div class="glance">
        <span class="glance-item-title">summary</span>
        <hr>
        <div class="summary">
            <div class="build-status">
                <span class="status-name">building</span>
                <span class="count">2</span>
            </div>
            <div class="build-status">
                <span class="status-name">idle</span>
                <span class="count">2</span>
            </div>


        </div>

        <span class="glance-item-title">history</span>
        <hr>
        <div class="summary">
            <ul>
                <li>bjstdmngbgr02/Acceptance_test</li>
                <li>bjstdmngbgr02/Acceptance_test</li>
                <li>bjstdmngbgr02/Acceptance_test</li>
                <li>bjstdmngbgr02/Acceptance_test</li>
                <li>bjstdmngbgr02/Acceptance_test</li>
                <li>bjstdmngbgr02/Acceptance_test</li>
                <li>bjstdmngbgr02/Acceptance_test</li>
                <li>bjstdmngbgr02/Acceptance_test</li>
                <li>bjstdmngbgr02/Acceptance_test</li>
                <li>bjstdmngbgr02/Acceptance_test</li>
                <li>bjstdmngbgr02/Acceptance_test</li>
            </ul>
        </div>

    </div>
</div>

</div>

<div class="copyright">
    <span>Copyright:Thoughtworks Inc.</span>
</div>